@model Example_MVC.Models.ItemModel
@{
ViewBag.Title = "Comments";
 }

<p>
    <!-- ITEM DETAILS -->
    <div style="background-color:burlywood; padding:5px;">

        <h1 style="color:white">@Html.DisplayFor(i => i.Name)</h1>
        <b>Category:</b> @Html.DisplayFor(i => i.Category)<br />
        <b>Price:</b> @Html.DisplayFor(i => i.Price)

        <hr />
    </div>
    <!-- LOADING COMMENTS -->
    <h2>Comments</h2>

    @foreach (var comments in Model.Comments)
    {
        <h4><b>@comments.CommentsTitle</b></h4>
        <b>@comments.BuyersName</b>
        <b>Date:</b> @comments.Date <span>|</span>
        <b>Star Rating: </b>@comments.StarRating<span>/5</span>
        <br />
        <i>@comments.Comments</i>
        <hr />
}

</p>
