@using Example_MVC.Models
@model Tuple<ItemModel, List<BuyersCommentsModel>>
@{
ViewBag.Title = "Comments";
 }

<div>
    <h4>Pass Data using Tuples</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    <!-- ITEM DETAILS -->
    <div style="background-color:burlywood; padding:5px;">

        <h1 style="color:white">@Model.Item1.Name</h1>
        <b>Category:</b> @Model.Item1.Category<br />
        <b>Price:</b> @Model.Item1.Price

        <hr />
    </div>
    <!-- LOADING COMMENTS -->
    <h2>Comments</h2>

    @foreach (var comments in Model.Item2)
    {
        <h4><b>@comments.CommentsTitle</b></h4>
            <b>@comments.BuyersName</b><br />
            <b>Date:</b> @comments.Date <span>|</span>
            <b>Star Rating: </b>@comments.StarRating<span>/5</span>
                <br />
                <i>@comments.Comments</i>
                <hr />
    }
</p>
