@using Example_MVC.Models
@{
    ViewBag.Title = "Comments";
    ItemModel Item = ViewData["Item"] as ItemModel;
    List<BuyersCommentsModel> Comments = ViewData["Comments"] as List<BuyersCommentsModel>;
}
<div>
    <h4>Pass Data using ViewBag</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    <!-- ITEM DETAILS -->
    <div style="background-color:burlywood; padding:5px;">
        @if (Item != null)
        {
            <h1 style="color:white">@Item.Name</h1>
            <b>Category:</b> @Item.Category<br />
            <b>Price:</b> @Item.Price
        }
        else
        {
            <h3 style="color:red">Sorry! Item Not Found</h3>
        }
        <hr />
    </div>
    <!-- LOADING COMMENTS -->
    <h2>Comments</h2>
    @if (Comments != null)
    {
        foreach (var comments in Comments)
        {
            <h4><b>@comments.CommentsTitle</b></h4>
            <b>@comments.BuyersName</b><br />
            <b>Date:</b> @comments.Date <span>|</span>
            <b>Star Rating: </b>@comments.StarRating<span>/5</span>
            <br />
            <i>@comments.Comments</i>
            <hr />
        }
    }
    else
    {
        <h3 style="color:red">No Comments Found!</h3>
    }
</p>
